:root {
    --text-color: rgb(233, 233, 233);
}

#root {
    max-width: 1500px;
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
    width: 100%;
}

body {
    margin: 0;
    background-color: transparent;
    background-image: url('/BarberShop.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
}


.font-jersey-25-regular {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.settingsArea {
    display: Flex;
    align-items: center;
    justify-content: center;
    min-width: 10%;
}

.settingsArea>* {
    margin: 0 5px;
}

.logoArea {
    display: Flex;
    align-items: center;
    justify-content: center;
    min-width: 10%;
}
